ul{
    display: inline;
    list-style-type: none;
    margin: 0.5em auto;
    text-align: end;
    float: right;
}

span{
    margin: 0.5em auto;
    display: inline;
    text-align: justify;
    justify-content: space-around;
}

.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.centrado{
    position: absolute;
    top: 55%;
    left: 45%;
    color:rgba(255, 255, 255);
}
.centrado1{
    position: absolute;
    top: 45%;
    left: 80%;
    color: rgba(255, 255, 255);
}
footer{
    background: rgb(21,10,205);
    background: linear-gradient(90deg, rgba(21,10,205,1) 0%, rgba(9,9,121,1) 35%, rgba(63,137,153,1) 100%);
    justify-content: space-around;
    margin-bottom: 10px;
}
#texto{
    position: relative;
    display: inline-block;
    text-align: left;
}

.boton{
    margin-left: 25%;
}